textarea {
    min-height: 400px;
}
.email{
    border: 1px solid black;
    border-collapse: collapse;
}
.is_read{
    background-color: lightgrey;
}
.email:hover{
    background-color: lightgrey;
}
.archive{
position: relative;
left: 100%;
}